<app-back></app-back>
<main class="all-education">
  <header class="title page">
    <h1>EDUCATION</h1>
  </header>
  <section class="edu-grid page">
    @for (item of educationList; track $index) {
      <article class="eduCard">
        <a [routerLink]="['/edu/edulist', item.id]">
          <div class="eduHeader">
            <img [src]="item.img" alt="" />
            <div class="eduHeading">
              <h2>{{ item.name }}</h2>
              <p class="date">{{ item.date }}</p>
            </div>
          </div>
          <div class="eduBody">
            <h3>{{ item.title }}</h3>
            <h4>{{ item.degree }}</h4>
            <div class="eduScroll">
              <p>Description: </p>
              <div class="description" [innerHTML]="item.description"></div>
              <p>Subjects:</p>
              <ul class="eduSubInfo">
                @for (subject of item.subjects; track $index) {
                  <li>{{ subject }}</li>
                }
              </ul>
            </div>
          </div>
        </a>
      </article>
    }
  </section>
</main>
