<header>
    <nav>
        <ul>
            <a routerLink="">
                <li>
                    <img src="assets\Icons\home.png" alt="">
                    <p>Home</p>
                </li>
            </a>
            <a routerLink="projects">
                <li>
                    <img src="/assets/Icons/folder.png" alt="">
                    <p>Projects</p>
                </li>
            </a>
            <a routerLink="edu">
                <li>
                    <img src="/assets/Icons/book.png" alt="">
                    <p>Education</p>
                </li>
            </a>
            <a routerLink="contact">
                <li>
                    <img src="/assets/Icons/chat.png" alt="">
                    <p>Contact</p>
                </li>
            </a>
        </ul>
    </nav>
</header>