@mixin centerRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  @mixin centerCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  h1,
  p,
  li {
    font-family: "Inter", sans-serif;
  }
  

.exSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .exTitle {
      width: 85%;
      padding: 15px 0 25px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-size: 18px;
        text-transform: uppercase;
      }
      a{
        text-decoration: none;
      p {
        font-size: 12px;
        color: #a4a4a4;
        i {
          padding-left: 8px;
        }
      }
    }
    }
}

.splide{
    .splide__track{
        .splide__list{
            .splide__slide{
                a{
                    width: 100%;
                    @include centerRow;
                    img{
                        width: 80%;
                        padding: 15px;
                        filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                    }
                }
            }
        }
    }
}