<section id="certificate" class="splide ed-splide">
  <div class="splide__track">
    <ul class="splide__list">
      @for (item of certificationList; track $index) {
        <li class="splide__slide">
          <a [routerLink]="['/cert', item.id]" class="ed-slide-card">
            <figure class="ed-slide-figure">
              <img [src]="item.image[0]" [alt]="item.name" loading="lazy" />
            </figure>
            <div class="ed-slide-meta">
              <span>{{ item.issuer }}</span>
              <span>· {{ item.issued }}</span>
            </div>
            <h3 class="ed-slide-title">{{ item.name }}</h3>
            <p class="ed-slide-sub">{{ item.imageName[0] }}</p>
            <span class="ed-slide-cta">View certificate<i class="bi bi-arrow-right"></i></span>
          </a>
        </li>
      }
    </ul>
  </div>
</section>
