@mixin scrollbar(){
    &::-webkit-scrollbar {
        width: 14px;
        height: 18px;
    }
    &::-webkit-scrollbar-thumb {
        height: 6px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.15);
        box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, div, p, li, h4, h3 {
    font-family: "Inter", sans-serif;
}

html {
    @include scrollbar();
    background-color: #EDF1F1;
}

body {
    background-color: #EDF1F1;
    position: relative;
}

.coming-soon {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.coming-soon h1 {
    font-size: 3rem;
    color: #333;
}

@media (min-width: 768px) {
    .coming-soon {
        display: flex;
    }
}
