<section class="experience">
  <div class="page">
    <header class="section-header">
      <h1>Experience</h1>
      <a routerLink="allexp">
        <p>See all<i class="fa-solid fa-chevron-right"></i></p>
      </a>
    </header>
    <section id="experience" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          @for (item of experienceList; track $index) {
            <li class="splide__slide">
              <a [routerLink]="['/exp',item.id]" class="exLink">
                <article class="exCard">
                  <div class="exTop">
                    <div class="exTitleRow">
                      <p class="exOrg">{{ item.name }}</p>
                      <p class="exDate">{{ item.date }}</p>
                    </div>
                  </div>
                  <div class="exInfo">
                    <h2>{{item.subname}}</h2>
                    <div class="subnameTxt">
                      @for (tool of item.subnameText; track $index) {
                        <p>{{tool}}</p>
                      }
                    </div>
                    <h3>{{item.subname1}}</h3>
                    <div class="subnameTxt1">
                      @for (resp of item.subname1Text; track $index) {
                        <p>{{resp}}</p>
                      }
                    </div>
                    <div class="exAction">
                      <span>View details</span>
                      <i class="fa-solid fa-arrow-right"></i>
                    </div>
                  </div>
                </article>
              </a>
            </li>
          }
        </ul>
      </div>
    </section>
  </div>
</section>
