<section id="experience" class="splide ed-splide">
  <div class="splide__track">
    <ul class="splide__list">
      @for (item of experienceList; track $index) {
        <li class="splide__slide">
          <a [routerLink]="['/exp', item.id]" class="ed-slide-card">
            <div class="ed-slide-meta">
              <span>{{ item.date }}</span>
            </div>
            <h3 class="ed-slide-title">{{ item.subname }}</h3>
            <p class="ed-slide-sub">{{ item.name }}</p>

            @if (item.subnameText?.length) {
              <div class="ed-slide-tags">
                @for (tool of item.subnameText.slice(0, 5); track $index) {
                  <span class="ed-chip">{{ tool }}</span>
                }
              </div>
            }

            @if (item.subname1Text?.length) {
              <ul class="ex-resp">
                @for (resp of item.subname1Text.slice(0, 3); track $index) {
                  <li>{{ resp }}</li>
                }
              </ul>
            }

            <span class="ed-slide-cta">View details<i class="bi bi-arrow-right"></i></span>
          </a>
        </li>
      }
    </ul>
  </div>
</section>
